In [27]:
import numpy as np
import pandas as pd
df=pd.read_csv(r"https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv",index_col=0)

In [19]:
df=pd.concat([df, df], axis=0)
df.head()

,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
tourney_id,,,,,,,,,,,,,,,,,,,,,
2021-0499,Delray Beach,Hard,32,A,20210104,300,128034,4.0,NaN,Hubert Hurkacz,...,33.0,20.0,9.0,9.0,1.0,5.0,35.0,1518.0,119.0,566.0
2021-0499,Delray Beach,Hard,32,A,20210104,299,128034,4.0,NaN,Hubert Hurkacz,...,46.0,29.0,13.0,11.0,3.0,5.0,35.0,1518.0,789.0,22.0
2021-0499,Delray Beach,Hard,32,A,20210104,298,200624,NaN,NaN,Sebastian Korda,...,35.0,25.0,7.0,10.0,2.0,6.0,119.0,566.0,74.0,877.0
2021-0499,Delray Beach,Hard,32,A,20210104,297,106328,NaN,Q,Christian Harrison,...,45.0,34.0,18.0,11.0,9.0,11.0,789.0,22.0,101.0,733.0
2021-0499,Delray Beach,Hard,32,A,20210104,296,128034,4.0,NaN,Hubert Hurkacz,...,43.0,28.0,10.0,10.0,7.0,10.0,35.0,1518.0,293.0,171.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5226 entries, 2021-0499 to 2021-M-DC-2021-WG2-M-TUR-LAT-01
Data columns (total 48 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_name        5226 non-null   object
 1   surface             5226 non-null   object
 2   draw_size           5226 non-null   int64
 3   tourney_level       5226 non-null   object
 4   tourney_date        5226 non-null   int64
 5   match_num           5226 non-null   int64
 6   winner_id           5226 non-null   int64
 7   winner_seed         2248 non-null   float64
 8   winner_entry        826 non-null    object
 9   winner_name         5226 non-null   object
 10  winner_hand         5224 non-null   object
 11  winner_ht           4596 non-null   float64
 12  winner_ioc          5226 non-null   object
 13  winner_age          5226 non-null   float64
 14  loser_id            5226 non-null   int64
 15  loser_seed          1314 non-null   float64
 16  loser_entry         1250 non-null   object
 17  loser_name          5226 non-null   object
 18  loser_hand          5226 non-null   object
 19  loser_ht            4248 non-null   float64
 20  loser_ioc           5226 non-null   object
 21  loser_age           5222 non-null   float64
 22  score               5226 non-null   object
 23  best_of             5226 non-null   int64
 24  round               5226 non-null   object
 25  minutes             5072 non-null   float64
 26  w_ace               5044 non-null   float64
 27  w_df                5044 non-null   float64
 28  w_svpt              5044 non-null   float64
 29  w_1stIn             5044 non-null   float64
 30  w_1stWon            5044 non-null   float64
 31  w_2ndWon            5044 non-null   float64
 32  w_SvGms             5046 non-null   float64
 33  w_bpSaved           5044 non-null   float64
 34  w_bpFaced           5044 non-null   float64
 35  l_ace               5044 non-null   float64
 36  l_df                5044 non-null   float64
 37  l_svpt              5044 non-null   float64
 38  l_1stIn             5044 non-null   float64
 39  l_1stWon            5044 non-null   float64
 40  l_2ndWon            5044 non-null   float64
 41  l_SvGms             5046 non-null   float64
 42  l_bpSaved           5044 non-null   float64
 43  l_bpFaced           5044 non-null   float64
 44  winner_rank         5218 non-null   float64
 45  winner_rank_points  5218 non-null   float64
 46  loser_rank          5178 non-null   float64
 47  loser_rank_points   5178 non-null   float64
dtypes: float64(29), int64(6), object(13)
memory usage: 2.0+ MB

In [21]:
#get a list of all distinct players
list_players=list(df.loser_name)+list(df.winner_name)
list_players=list(set(list_players))
list_players.sort()

In [42]:
#GROUP BY player and surface (for the winners of the matches)
df_aces_by_ply1_surf=df.pivot_table(values=['l_ace','w_1stWon','w_2ndWon','w_ace','w_svpt'], index=['winner_name','surface'],\
                    aggfunc=np.sum)
df_aces_by_ply1_surf.columns=['ace_vs','1stWon','2ndWon','ace','svpt']
df_aces_by_ply1_surf=df_aces_by_ply1_surf.rename_axis(['name', 'surface'])
df_aces_by_ply1_surf

                          ace_vs  1stWon  2ndWon   ace    svpt
name             surface
Adrian Andreev   Hard       12.0    69.0    26.0   0.0   153.0
Adrian Mannarino Grass      29.0   109.0    53.0  24.0   219.0
                 Hard       56.0   339.0   163.0  52.0   764.0
Albert Ramos     Clay       78.0   678.0   300.0  53.0  1522.0
                 Hard       49.0   183.0    73.0  22.0   372.0
...                          ...     ...     ...   ...     ...
Yuichi Sugita    Grass       8.0    31.0    11.0   3.0    57.0
                 Hard       15.0    50.0    18.0   5.0   106.0
Yuta Shimizu     Grass       0.0    21.0     8.0   2.0    39.0
Zachary Svajda   Hard       12.0    69.0    26.0   9.0   133.0
Zizou Bergs      Clay        5.0    39.0    10.0   5.0    75.0

[462 rows x 5 columns]

In [43]:
#GROUP BY player and surface (for the losers of the matches)
df_aces_by_ply2_surf=df.pivot_table(values=['l_1stWon','l_2ndWon','l_ace','l_svpt','w_ace','w_svpt'], index=['loser_name','surface'],\
                    aggfunc=np.sum)
df_aces_by_ply2_surf.columns=['1stWon','2ndWon','ace','svpt','ace_vs']
df_aces_by_ply2_surf.rename(columns={'l_1stWon' : '1stWon', 'l_2ndWon' : '2ndWon','l_ace':'ace','l_svpt':'svpt','w_ace':"ace_vs",'w_svpt':'svpt_vs'}, inplace=True)
df_aces_by_ply2_surf=df_aces_by_ply2_surf.rename_axis(['name', 'surface'])
df_aces_by_ply2_surf

                               1stWon  2ndWon   ace   svpt  ace_vs
name                  surface
Adolfo Daniel Vallejo Clay       14.0     8.0   0.0   50.0     2.0
Adrian Andreev        Hard       81.0    43.0   4.0  225.0    15.0
Adrian Mannarino      Clay      204.0   127.0  24.0  581.0    40.0
                      Grass     145.0    41.0  18.0  297.0    44.0
                      Hard      321.0   185.0  30.0  892.0   111.0
...                               ...     ...   ...    ...     ...
Zachary Svajda        Hard       77.0    32.0   9.0  187.0    10.0
Zhizhen Zhang         Clay       33.0    19.0   6.0   88.0     5.0
                      Grass      83.0    29.0  13.0  171.0     6.0
Zizou Bergs           Clay       70.0    29.0   3.0  187.0     9.0
                      Hard       34.0     8.0   5.0   61.0     9.0

[666 rows x 5 columns]

In [44]:
#add up both data frames and count 0 if one of them has no value
df_aces_by_ply_surf = df_aces_by_ply1_surf.add(df_aces_by_ply2_surf, fill_value=0)

In [45]:
df_aces_by_ply_surf

                               1stWon  2ndWon   ace  ace_vs    svpt
name                  surface
Adolfo Daniel Vallejo Clay       14.0     8.0   0.0     2.0    50.0
Adrian Andreev        Hard      150.0    69.0   4.0    27.0   378.0
Adrian Mannarino      Clay      204.0   127.0  24.0    40.0   581.0
                      Grass     254.0    94.0  42.0    73.0   516.0
                      Hard      660.0   348.0  82.0   167.0  1656.0
...                               ...     ...   ...     ...     ...
Zachary Svajda        Hard      146.0    58.0  18.0    22.0   320.0
Zhizhen Zhang         Clay       33.0    19.0   6.0     5.0    88.0
                      Grass      83.0    29.0  13.0     6.0   171.0
Zizou Bergs           Clay      109.0    39.0   8.0    14.0   262.0
                      Hard       34.0     8.0   5.0     9.0    61.0

[691 rows x 5 columns]

In [46]:
df_aces_by_ply_surf["svpt_W"]=df_aces_by_ply_surf["1stWon"]+df_aces_by_ply_surf["2ndWon"]
df_aces_by_ply_surf["svpt_W"]=df_aces_by_ply_surf["1stWon"]+df_aces_by_ply_surf["2ndWon"]
df_aces_by_ply_surf["aceW_pt"]=df_aces_by_ply_surf["ace"]/df_aces_by_ply_surf["svpt_W"]
df_aces_by_ply_surf["aceL_pt"]=df_aces_by_ply_surf["ace_vs"]/df_aces_by_ply_surf["svpt_W"]
df_aces_by_ply_surf.head()

                               1stWon  2ndWon   ace  ace_vs    svpt  svpt_W  \
name                  surface
Adolfo Daniel Vallejo Clay       14.0     8.0   0.0     2.0    50.0    22.0
Adrian Andreev        Hard      150.0    69.0   4.0    27.0   378.0   219.0
Adrian Mannarino      Clay      204.0   127.0  24.0    40.0   581.0   331.0
                      Grass     254.0    94.0  42.0    73.0   516.0   348.0
                      Hard      660.0   348.0  82.0   167.0  1656.0  1008.0

                                aceW_pt   aceL_pt
name                  surface
Adolfo Daniel Vallejo Clay     0.000000  0.090909
Adrian Andreev        Hard     0.018265  0.123288
Adrian Mannarino      Clay     0.072508  0.120846
                      Grass    0.120690  0.209770
                      Hard     0.081349  0.165675

In [47]:
df_aces_by_ply_surf[df_aces_by_ply_surf['svpt']>400].sort_values(by='aceW_pt', ascending=False).head(20)

                           1stWon  2ndWon    ace  ace_vs    svpt  svpt_W  \
name              surface
John Isner        Clay      368.0   115.0  171.0    32.0   659.0   483.0
                  Hard     1047.0   338.0  472.0   238.0  1943.0  1385.0
Sam Querrey       Grass     487.0   200.0  220.0   108.0   994.0   687.0
Alexander Bublik  Grass     382.0   202.0  187.0    80.0   866.0   584.0
Kevin Anderson    Grass     317.0   130.0  142.0    57.0   634.0   447.0
Reilly Opelka     Clay      353.0   136.0  147.0    32.0   732.0   489.0
                  Hard     1322.0   489.0  535.0   284.0  2572.0  1811.0
Milos Raonic      Hard      459.0   214.0  192.0    72.0   943.0   673.0
Kevin Anderson    Hard      599.0   203.0  228.0    98.0  1174.0   802.0
Maxime Cressy     Hard      422.0   173.0  169.0    58.0   877.0   595.0
Alexander Bublik  Hard     1417.0   602.0  553.0   187.0  3181.0  2019.0
Nick Kyrgios      Hard      485.0   142.0  170.0   132.0   911.0   627.0
Vasek Pospisil    Grass     231.0    94.0   82.0    35.0   496.0   325.0
Lloyd Harris      Grass     282.0    97.0   95.0    28.0   568.0   379.0
Sam Querrey       Hard      363.0   174.0  133.0    85.0   822.0   537.0
Matteo Berrettini Grass     555.0   221.0  185.0    66.0  1069.0   776.0
Marin Cilic       Grass     455.0   179.0  151.0    78.0   918.0   634.0
Jiri Vesely       Hard      555.0   177.0  172.0   135.0  1065.0   732.0
Lloyd Harris      Hard     1531.0   476.0  450.0   254.0  2932.0  2007.0
Feliciano Lopez   Grass     276.0   118.0   87.0    71.0   581.0   394.0

                            aceW_pt   aceL_pt
name              surface
John Isner        Clay     0.354037  0.066253
                  Hard     0.340794  0.171841
Sam Querrey       Grass    0.320233  0.157205
Alexander Bublik  Grass    0.320205  0.136986
Kevin Anderson    Grass    0.317673  0.127517
Reilly Opelka     Clay     0.300613  0.065440
                  Hard     0.295417  0.156819
Milos Raonic      Hard     0.285290  0.106984
Kevin Anderson    Hard     0.284289  0.122195
Maxime Cressy     Hard     0.284034  0.097479
Alexander Bublik  Hard     0.273898  0.092620
Nick Kyrgios      Hard     0.271132  0.210526
Vasek Pospisil    Grass    0.252308  0.107692
Lloyd Harris      Grass    0.250660  0.073879
Sam Querrey       Hard     0.247672  0.158287
Matteo Berrettini Grass    0.238402  0.085052
Marin Cilic       Grass    0.238170  0.123028
Jiri Vesely       Hard     0.234973  0.184426
Lloyd Harris      Hard     0.224215  0.126557
Feliciano Lopez   Grass    0.220812  0.180203